@font-face {
    font-family: bitFont;
    src: url(fonts/8Bit.ttf);
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background-image: url(images/wallpaperopening.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.player {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 30px;
    background-image: url("./images/worm.png");
    background-size: cover;
}

.rocketLauncher {
    position: absolute;
    top: 10px;
    left: 0;
    width: 38px;
    height: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./images/Bazooka.png");

}

.playButton {
    font-family: bitFont;
    background-color: transparent;
    color: antiquewhite;
    font-size: 50px;
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    border: 0px;
    border-radius: 25px;
}

.logo {
    width: 60%;
    height: 60%;
    position: relative;
    left: 20%;
}

.rocket {
    position: absolute;
    height: 20px;
    width: 30px;
    background-image: url(./images/rocketRight.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.rocket.rocket-right {
    background-image: url(./images/rocketRight.png);
}

.rocket.rocket-left {
    background-image: url(./images/rocketLeft.png);
}